In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df

        trans_id;"account_id";"date";"type";"operation";"amount";"balance";"k_symbol";"bank";"account"
0        695247;2378;930101;"PRIJEM";"VKLAD";700.00;700...
1        171812;576;930101;"PRIJEM";"VKLAD";900.00;900....
2        207264;704;930101;"PRIJEM";"VKLAD";1000.00;100...
3        1117247;3818;930101;"PRIJEM";"VKLAD";600.00;60...
4        579373;1972;930102;"PRIJEM";"VKLAD";400.00;400...
...                                                    ...
1056315  3626622;2906;981231;"PRIJEM";"";62.30;13729.40...
1056316  3627616;2935;981231;"PRIJEM";"";81.30;19544.90...
1056317  3625403;2869;981231;"PRIJEM";"";60.20;14638.20...
1056318  3626683;2907;981231;"PRIJEM";"";107.50;23453.0...
1056319  3626540;2902;981231;"PRIJEM";"";164.10;41642.9...

[1056320 rows x 1 columns]